<header class="about">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="col-lg-8 col-xl-7 col-xxl-6">
                <div class="my-5 text-center text-xl-start">
                    <br>
                    <br>
                    <br>
                    <br>

                    <h1 class="lead fw-bold text-black-50 bold mb-4">WHO WE ARE ?</h1>
                    <h2><i class="fas fa-gopuram"></i>VIVAHA - A SAREE BOUTIQUE</h2>
                    <br>
                    <p class="lead fw-normal text-grey-50 mb-4">We are a 4 year old Home Grown Brand and we started this to Manufacture, Produce & Showcase the best that India has to offer in the Saree world. We are a Fashion brand with a Moral Compass and are dedicated to provide you with a mixture of Traditional & Contemporary products which cater to all ages.The boutique is known for its unique designs and personalized customer service, making it a popular choice for saree enthusiasts.</p>
                    <br>
                    <p class="lead fw-normal text-navyblue-50 mb-4">Let us be a Part of your Wardrobe!</p>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
            <button type="button" class="btn btn-outline-success" mdbRipple rippleColor="dark">GO ON >>></button>
                    </div>
                </div>
            </div>
            <br>
            <div class="col-xl-5 col-xl-5 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5" src="../assets/l1.jpg" alt="..." /></div>
        </div>
    </div>
</header>



<footer class="text-center text-grey-50" style="background-color: rgba(205, 235, 39, 0.678) ;">
    <!-- Grid container -->
    <div class="container p-4">
        <h3> Our collections>>></h3>
      <!-- Section: Images -->
      <section class="">
        <div class="row">
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div
              mdbRipple
              rippleColor="light"
              class="bg-image hover-overlay ripple shadow-1-strong rounded"
            >
              <img
                src="https://www.prashantisarees.com/cdn/shop/collections/c6a6cfe06a61f48caa4207c56df82ac8_300x.jpg?v=1666698673"
                class="w-100"
              />
              <a href="#!">
                <div
                  class="mask"
                  style="background-color: rgba(251, 251, 251, 0.2);"
                ></div>
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div
              mdbRipple
              rippleColor="light"
              class="bg-image hover-overlay ripple shadow-1-strong rounded"
            >
              <img
                src="https://www.prashantisarees.com/cdn/shop/collections/1e8dff6feea412615951650194babbcc_300x.jpg?v=1666698673"
                class="w-100"
              />
              <a href="#!">
                <div
                  class="mask"
                  style="background-color: rgba(251, 251, 251, 0.2);"
                ></div>
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div
              mdbRipple
              rippleColor="light"
              class="bg-image hover-overlay ripple shadow-1-strong rounded"
            >
              <img
                src="https://www.prashantisarees.com/cdn/shop/collections/872c61ecff956f918887736d8d5b8d97_300x.jpg?v=1666698673"
                class="w-100"
              />
              <a href="#!">
                <div
                  class="mask"
                  style="background-color: rgba(251, 251, 251, 0.2);"
                ></div>
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div
              mdbRipple
              rippleColor="light"
              class="bg-image hover-overlay ripple shadow-1-strong rounded"
            >
              <img
                src="https://www.prashantisarees.com/cdn/shop/collections/4654a30094d587e5de8d5be88d079e69_300x.jpg?v=1666698705"
                class="w-100"
              />
              <a href="#!">
                <div
                  class="mask"
                  style="background-color: rgba(251, 251, 251, 0.2);"
                ></div>
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div
              mdbRipple
              rippleColor="light"
              class="bg-image hover-overlay ripple shadow-1-strong rounded"
            >
              <img
                src="https://www.prashantisarees.com/cdn/shop/collections/017af73b90e9137c4e0e20ef41f8e1ab_300x.jpg?v=1666698658"
                class="w-100"
              />
              <a href="#!">
                <div
                  class="mask"
                  style="background-color: rgba(251, 251, 251, 0.2);"
                ></div>
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div
              mdbRipple
              rippleColor="light"
              class="bg-image hover-overlay ripple shadow-1-strong rounded"
            >
              <img
                src="https://www.prashantisarees.com/cdn/shop/collections/81214e74413446cf70cd5546391b8ead_300x.jpg?v=1666698658"
                class="w-100"
              />
              <a href="#!">
                <div
                  class="mask"
                  style="background-color: rgba(251, 251, 251, 0.2);"
                ></div>
              </a>
            </div>
          </div>
        </div>
      </section>
      <!-- Section: Images -->
    </div>
   
  </footer>