 <!-- ======= Header ======= -->
 <div *ngIf="router.url!='/customerp'">
  <div *ngIf="router.url!='/home2'">
  <div *ngIf="router.url!='/customer-d'">
  <div *ngIf="router.url!='/brands'">
    <div *ngIf="router.url!='/laptops'">
    <div *ngIf="router.url!='/cart'">
      <div *ngIf="router.url!='/laptop-d'">
        <div *ngIf="router.url!='/update-l'">
          <div *ngIf="router.url!='/middle'">
            <div *ngIf="router.url!='/view-customer'">
              <div *ngIf="router.url!='/find-id'">
      
                <nav class="navbar navbar-light bg-light">
                  <div class="container-fluid">
                    <span class="navbar-brand mb-0 h1">Sugar Rush Sale is Live | Get Upto 20% Off | Flat Rs.990 International Shipping For Orders Above Rs.5,000/-</span>
                  </div>
                </nav>
 
 
  <header id="header" class="fixed-left ">
  <div class="container-fluid">

    <div class="row justify-content-center">
      <div class="col-xl-9 d-flex align-items-center justify-content-lg-between">
        <h1><i class="fas fa-gopuram"></i>VIVAHA</h1>
        <br>
        <br>
        <h2> The Online Saree Boutique</h2>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

        <nav id="navbar" class="navbar order-first order-lg-0">
          <ul>
            
            <li><a class="nav-link scrollto"  routerLink="/about" routerActive="active" href=""><i class="fas fa-home"></i></a></li>
            <li><a class="nav-link scrollto"  routerLink="/about" routerActive="active" href="">About</a></li>
            <li><a class="nav-link" routerLink="/admin" routerActive="active" href="#">AdminLogin</a></li>
            <li><a class="nav-link" routerLink="/signup" routerActive="active"href="#">CustomerLogin</a></li> 
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

    
          <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
              <form class="d-flex input-group w-auto">
                <input
                  type="search"
                  class="form-control rounded"
                  placeholder="Search"
                  aria-label="Search"
                />
                <span class="input-group-text border-0" id="search-addon">
                  <i class="fas fa-search"></i>
                </span>
              </form>
            </div>
          </nav>
         
      </div>
    </div>

  </div>
</header>
</div><!-- End Header -->
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

