<div class="sidenav">
    <img class="img" src="/assets/logo.png" height="75px" width="40%">
    <h4 style="color: rgb(2, 1, 0);text-align: center;">Saree Boutique</h4>
    <br>
    <li><a routerLink="/home2" href="">Home</a></li>
    <li><a routerLink="/laptops" href="">All Sarees</a></li>
    <li><a routerLink="/laptop-d" href="">Baswada Sarees</a></li>  
    <li><a routerLink="/find-id" href="">Pure Silk Sarees</a></li>
</div>

 <div class="card">
    <div class="main" style="background-image:url(assets/l7.jpg); background-position: center;
    background-repeat: no-repeat;
    background-size: cover;">
<div class="form-group mt-4">
    <a  routerLink="/home" href="" class="get-started-btn scrollto" style="margin-left: 85%;">Logout</a>
  </div>
</div>
    </div>
<!--<div class="user">
    <div class="col-2 offset-2">
     <div class="card">
         <div class="card-body">
             <h4 class="card-title">Total sales</h4>
             <hr>
             <h5 class="text">8</h5>
         </div>
     </div>
 </div>
 </div>-->

